<nav>
    <img src="/images/logo.png" class="logo">
    <ul class="nav-links">
        <li><a href="/home">HOME PAGE</a></li>
        <li><a href="/add-movie">ADD MOVIE</a></li>
        <li><a href="/movie-data">MOVIE DATA</a></li>
    </ul>
    <div>
        <button class="language">English<img src="/images/down-icon.png"></button>
        <button>Sign In</button>
    </div>
</nav>