* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/header-image.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.header {
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 10px 10px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.logo {
    width: 150px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 0px;

}

nav button {
    border: 0;
    outline: 0;
    background: #db0001;
    color: white;
    padding: 7px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;

}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    /* Space between links */
    margin-left: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.language {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: 7px 10px;
}

.header-content {
    /* position: absolute;
    top: 300px;
    left: 800px; */
    /* transform: translate(-50%,-50%); */

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30vh;

}

.header-content h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600px;
    max-width: 650px;
}

.header-content h3 {
    font-weight: 400px;
    margin: bottom 20px;
    ;
}

.email-signup {
    background: white;
    border-radius: 4px;
    display: flex;
    /* align-items:center; */
    margin-top: 30px;
    /* overflow: hidden; */
    width: 600px;
}

.email-signup input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}

.email-signup button {
    background: #db0001;
    border: 0;
    outline: 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}

/*--------- features--------- */
.features {
    padding: 50px 35px;
    font: size 22px;
    ;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col {
    flex-basis: 50%;
    margin: bottom 20px;
}

.img-col {
    flex-basis: 50%;
    margin: bottom 20px;
}

.img-col img {
    display: block;
    width: 90%;
    margin: auto;
}

.features h2 {
    font-size: 50px;
    font-weight: 300px;
    margin-bottom: 20px;
}

/* -------FAQ-------- */
.faq {
    padding: 10px 12px;
    text-align: center;
    font-size: 18px;
}

.faq h2 {
    font-weight: 500px;
    font-size: 40px;

}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label:after {
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px;
}

.accordion input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
}